In [3]:
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
crime_all = pd.read_csv('crime_all.csv')

In [5]:
crime_all['CrimeDateAndTime'] = crime_all['CrimeDate'] + ' ' + crime_all['CrimeTime']
crime_all['CrimeDate'] = pd.to_datetime(crime_all['CrimeDate'])

In [6]:
start_date = '04/01/2014'
end_date = '04/01/2015'

mask_date = (crime_all['CrimeDate'] > start_date) & (crime_all['CrimeDate'] <= end_date)

start_date_2 = '04/01/2018'
end_date_2 = '04/01/2019'

mask_date_2 = (crime_all['CrimeDate'] > start_date_2) & (crime_all['CrimeDate'] <= end_date_2)

In [7]:
print('All:', crime_all.size)
crime_2014 = crime_all.loc[mask_date]
print('2014 Crime:', crime_2014.size)
crime_2019 = crime_all.loc[mask_date_2]
print('2019 Crime:', crime_2019.size)

All: 4293384
2014 Crime: 758166
2019 Crime: 813671

In [8]:
start_date_3 = '04/01/2017'
end_date_3 = '04/01/2018'

mask_date_3 = (crime_all['CrimeDate'] > start_date_3) & (crime_all['CrimeDate'] <= end_date_3)

crime_2018 = crime_all.loc[mask_date_3]
print('2018 Crime:', crime_2018.size)

2018 Crime: 856086

In [9]:
from math import cos, asin, sqrt

def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    a = 0.5 - cos((lat2 - lat1) * p)/2 + cos(lat1 * p) * cos(lat2 * p) * (1 - cos((lon2 - lon1) * p)) / 2
    return 12742 * asin(sqrt(a))

In [10]:
crime_2018.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,crimeCaseNumber,Total Incidents,CrimeDateAndTime
48287,2018-04-01,9:55:00 AM,5D,3500 HILLEN RD,BURGLARY,NaN,NaN,412.0,NORTHEASTERN,Ednor Gardens-Lakeside,-76.58896,39.33255,NaN,NaN,NaN,1,04/01/2018 9:55:00 AM
48288,2018-04-01,9:45:00 PM,4E,400 MANSE CT,COMMON ASSAULT,O,NaN,123.0,CENTRAL,Upton,-76.62590,39.30218,NaN,STREET,NaN,1,04/01/2018 9:45:00 PM
48289,2018-04-01,9:44:00 PM,3JK,2300 SEAMON AVE,ROBBERY - RESIDENCE,I,KNIFE,922.0,SOUTHERN,Cherry Hill,-76.62475,39.25340,NaN,ROW/TOWNHOUSE-OCC,NaN,1,04/01/2018 9:44:00 PM
48290,2018-04-01,9:35:00 PM,4E,1600 E 25TH ST,COMMON ASSAULT,I,NaN,342.0,EASTERN,Darley Park,-76.59454,39.31634,NaN,ROW/TOWNHOUSE-OCC,NaN,1,04/01/2018 9:35:00 PM
48291,2018-04-01,9:20:00 PM,3JF,300 LYNDHURST ST,ROBBERY - RESIDENCE,I,FIREARM,843.0,SOUTHWESTERN,Allendale,-76.68041,39.29092,NaN,ROW/TOWNHOUSE-OCC,NaN,1,04/01/2018 9:20:00 PM

In [11]:
cctv_2014 = pd.read_csv('CCTV_2014.csv')
print(cctv_2014.shape)

(603, 4)

In [ ]:
cctv_2014.head()

In [ ]:
cctv_2019 = pd.read_csv('CCTV_2019.csv')
print(cctv_2019.shape)
cctv_2019.head()

In [ ]:
cctv_2018 = pd.read_csv('CCTV_2018.csv')
print(cctv_2018.shape)
cctv_2018.head()

In [ ]:
crime_2014_locations = []
cctv_2014_locations = []

for index, crime in crime_2014.iterrows():
    lon, lat = crime["Longitude"], crime["Latitude"]
    crime_2014_locations.append([lon, lat])
    
for index, cctv in cctv_2014.iterrows():
    now = cctv["Location 1"]
    c_lat, c_lon = tuple(map(float, now[1:-1].split(',')))
    cctv_2014_locations.append([c_lon, c_lat])

In [ ]:
crime_2019_locations = []
cctv_2019_locations = []

for index, crime in crime_2019.iterrows():
    lon, lat = crime["Longitude"], crime["Latitude"]
    crime_2019_locations.append([lon, lat])
    
for index, cctv in cctv_2019.iterrows():
    now = cctv["Location 1"]
    c_lat, c_lon = tuple(map(float, now[1:-1].split(',')))
    cctv_2019_locations.append([c_lon, c_lat])

In [ ]:
crime_2018_locations = []
cctv_2018_locations = []

for index, crime in crime_2018.iterrows():
    lon, lat = crime["Longitude"], crime["Latitude"]
    crime_2018_locations.append([lon, lat])
    
for index, cctv in cctv_2018.iterrows():
    now = cctv["Location 1"]
    c_lat, c_lon = tuple(map(float, now[1:-1].split(',')))
    cctv_2018_locations.append([c_lon, c_lat])

## Calculate

In [ ]:
max_range = 0.01 # 10m

In [ ]:
value_2014 = 0
for [lon, lat] in crime_2014_locations:
    for [c_lon, c_lat] in cctv_2014_locations:
        if distance(lat, lon, c_lat, c_lon) <= max_range:
            value_2014 += 1
            break

In [ ]:
value_2018 = 0
for [lon, lat] in crime_2018_locations:
    for [c_lon, c_lat] in cctv_2018_locations:
        if distance(lat, lon, c_lat, c_lon) <= max_range:
            value_2018 += 1
            break

In [ ]:
value_2019 = 0
for [lon, lat] in crime_2019_locations:
    for [c_lon, c_lat] in cctv_2019_locations:
        if distance(lat, lon, c_lat, c_lon) <= max_range:
            value_2019 += 1
            break

In [ ]:
print('2014, # of crimes with CCTVs no far than 10m:', value_2014)
print('2018, # of crimes with CCTVs no far than 10m:', value_2018)
print('2019, # of crimes with CCTVs no far than 10m:', value_2019)

In [ ]:
crime_2014.head()

In [15]:
pd.options.mode.chained_assignment = None  # default='warn'

crime_2014.index = pd.to_datetime(crime_2014['CrimeDateAndTime'])

start_time_day = '9:00'
end_time_day = '19:00'

crime_2014_day = crime_2014.between_time(start_time_day, end_time_day)

In [19]:
start_time_night = '19:01'
end_time_night = '8:59'

crime_2014_night = crime_2014.between_time(start_time_night, end_time_night)

In [21]:
print(crime_2014_day.shape)
print(crime_2014_night.shape)
print(crime_2014.shape)

(23313, 17)
(21285, 17)
(44598, 17)